<h1><%= image_tag("5e_icon.png", :alt => "D&D") %>   List of Characters</h1>
<%= link_to 'Back to Home', controller: 'welcome' %>
<table>
    <tr>
       <th>Name</th> 
       <th>Class</th> 
       <th>Level</th> 
    </tr>
    <% @characters.each do |character| %>
    <tr>
        <td><%= character.charname %></td>
        <td><%= character.charclass %></td>
        <td><%= character.level %></td>
        <td><%= link_to 'View', character_path(character)%></td>
        <td><%= link_to 'Edit', edit_character_path(character)%></td>
        <td><%= link_to 'Kill', character_path(character), method: :delete, data: { confirm: "Are you sure you wish to kill off this character?"} %></td>
    </tr>
    <% end %>
</table>