<header>
<h1><%= image_tag("5e_icon.png", :alt => "D&D") %>  View Character</h1>
</header>

<div class="floatLeft" style="max-width:20%;height:auto;">
<p><span id="big">Name:</span>
    <%= @character.charname %>
</p>
<p><span id="big">Race:</span>
    <%= @character.race %>
</p>
<p><span id="big">Level:</span>
    <%= @character.level %>
</p>
<p><span id="big">Class:</span>
    <%= @character.charclass %>
</p>
<p><span id="big">Strength:</span>
    <%= @character.strength %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.strength-10)/2).truncate %>
</p>
<p><span id="big">Dexterity:</span>
    <%= @character.dexterity %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.dexterity-10)/2).truncate %>
</p>
<p><span id="big">Constitution:</span>
    <%= @character.constitution %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.constitution-10)/2).truncate %>
</p>
<p><span id="big">Wisdom:</span>
    <%= @character.wisdom %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.wisdom-10)/2).truncate %>
</p>
<p><span id="big">Intelligence:</span>
    <%= @character.intelligence %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.intelligence-10)/2).truncate %>
</p>
<p><span id="big">Charisma:</span>
    <%= @character.charisma %><br>
    <span id="small">Modifier:</span>
    <%= ((@character.charisma-10)/2).truncate %>
</p>
<p><span id="big">Health Points:</span>
<%if @character.charclass == "barbarian"%>
    <%= (12+((@character.constitution-10)/2).truncate+((7+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "fighter"%>
    <%= (10+((@character.constitution-10)/2).truncate+((6+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "bard"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "cleric"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "druid"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "monk"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "paladin"%>
    <%= (10+((@character.constitution-10)/2).truncate+((6+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "ranger"%>
    <%= (10+((@character.constitution-10)/2).truncate+((6+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "rogue"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "sorcerer"%>
    <%= (6+((@character.constitution-10)/2).truncate+((4+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "warlock"%>
    <%= (8+((@character.constitution-10)/2).truncate+((5+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<%elsif @character.charclass == "wizard"%>
    <%= (6+((@character.constitution-10)/2).truncate+((4+((@character.constitution-10)/2).truncate)*(@character.level-1))).truncate %>
<% else %>
<div>Class Not Found</div>
<% end %>
</p>
<p><span id="big">Proficiency Bonus:</span>
<%if @character.level >= 1 and @character.level < 5%>
    <span>+2</span>
<%elsif @character.level >= 5 and @character.level < 8%>
    <span>+3</span>
<%elsif @character.level >= 9 and @character.level < 13%>
    <span>+4</span>
<%elsif @character.level >= 13 and @character.level < 17%>
    <span>+5</span>
<%elsif @character.level >= 17 and @character.level < 21%>
    <span>+6</span>
<%else%>
    <span>Level Not Found.</span>
<%end%>
</p>

<p>
    <span class="button"><%= link_to 'Back', controller:'characters'%></span>
</p>
</div>

<p></p>

<div class="floatLeft" style="max-width:30%;height:auto;">
<p><span id="big">Languages</span>
<% if @character.race == "dragonborn"%>
<ul>
    <li>Common</li>
    <li>Draconic</li>
</ul>
<% elsif @character.race == "dwarf"%>
<ul>
    <li>Common</li>
    <li>Dwarfish</li>
</ul>
<% elsif @character.race == "elf"%>
<ul>
    <li>Common</li>
    <li>Elivsh</li>
</ul>
<% elsif @character.race == "halfling"%>
<ul>
    <li>Common</li>
    <li>Halfling</li>
</ul>
<% elsif @character.race == "human"%>
<ul>
    <li>Common</li>
    <li>(One Extra Language)</li>
</ul>
<% elsif @character.race == "gnome"%>
<ul>
    <li>Common</li>
    <li>Gnomish</li>
</ul>
<% elsif @character.race == "half-elf"%>
<ul>
    <li>Common</li>
    <li>Elivsh</li>
    <li>(One Extra Language)</li>
</ul>
<% elsif @character.race == "half-orc"%>
<ul>
    <li>Common</li>
    <li>Orc</li>
</ul>
<% elsif @character.race == "tiefling"%>
<ul>
    <li>Common</li>
    <li>Infernal</li>
</ul>
<% else%>
<p>Race not found.</p>
<%end%>

<p><span id="big">Equipment</span>
<%if @character.charclass == "barbarian"%>
<ul>
    <li>(a) A Greataxe or (b) Any Martial Melee Weapon</li>
    <li>(a) Two Handaxes or (b) Any Simple Weapon</li>
    <li>An Explorer's Pack</li>
    <li>Four Javelins</li>
</ul>
<%elsif @character.charclass == "fighter"%>
<ul>
    <li>(a) Chain Mail or (b) Leather Armor</li>
    <li>A Longbow and 20 Arrows</li>
    <li>(a) A Martial Weapon and a Sheild </li>
    <li style="list-style-type:none">Or (b) Two Martial Weapons</li>
    <li>(a) A Light Crossbow and 20 Bolts </li>
    <li style="list-style-type:none">Or (b) Two Handaxes</li>
    <li>(a) Dungeoneer's Pack or (b) Explorer's Pack</li>
</ul>
<%elsif @character.charclass == "bard"%>
<ul>
    <li>(a) Rapier or (b) Longsword </li>
    <li style="list-style-type:none">Or (c) Any Simple Weapon</li>
    <li>(a) Diplomat's Pack or (b) Entertainer's Pack</li>
    <li>(a) Lute or (b) Any other musical instrument</li>
    <li>Leather Armor</li>
    <li>A Dagger</li>
</ul>
<%elsif @character.charclass == "cleric"%>
<ul>
    <li>(a) A Mace or (b) A Warhammer </li>
    <li>(a) Scale Mail or (b) Leather Armor </li>
    <li style="list-style-type:none">Or (c) Chain Mail </li>
    <li>(a) A Light Crossbow and 20 Bolts </li>
    <li style="list-style-type:none">Or (b) Any Simple Weapon</li>
    <li>(a) Priest's Pack or (b) Explorer's Pack </li>
    <li> Sheild</li>
    <li> Holy Symbol</li>
</ul>
<%elsif @character.charclass == "druid"%>
<ul>
    <li>(a) Wooden Sheild or (b) Any Simple Weapon</li>
    <li>(a) Scimitar or (b) Any Simple Meele Weapon</li>
    <li> Leather Armor</li>
    <li> Explorer's Pack</li>
    <li> A Druidic Focus</li>
</ul>
<%elsif @character.charclass == "monk"%>
<ul>
    <li>(a) A Shortsword or (b) Any Simple Weapon</li>
    <li>(a) Dungeouneer's Pack or (b) Explorer's Pack</li>
    <li> Ten Darts</li>
</ul>
<%elsif @character.charclass == "paladin"%>
<ul>
    <li>(a) Martial Weapon and a Sheild </li>
    <li style="list-style-type:none">Or (b) Two Martial Weapons</li>
    <li>(a) Five Javelins or (b) Any Simple Meelee Weapon</li>
    <li>(a) Priest's Pack or (b) Explorer's Pack</li>
    <li> Chain Mail</li>
    <li> Holy Symbol</li>
</ul>

<%elsif @character.charclass == "ranger"%>
<ul>
    <li>(a) Scale Mail or (b) Leather Armor</li>
    <li>(a) Two Short Swords or (b) Two Simple Melee Weapons</li>
    <li>(a) Dungeoneer's Pack or (b) Explorer's Pack</li>
    <li>Longbow and 20 Arrows</li>
</ul>

<%elsif @character.charclass == "rogue"%>
<ul>
    <li>(a) Rapier or (b) Shortsword</li>
    <li>(a) Shortbow and Quiver of 20 Arrows </li>
    <li style="list-style-type:none">Or (b) A Shortsword</li>
    <li>(a) Burgler's Pack or (b) Dungeoneer's Pack </li>
    <li style="list-style-type:none">Or (c) Explorer's Pack</li>
    <li>Leather Armor</li>
    <li>Two Daggers</li>
    <li>Thieves' Tools</li>
</ul>

<%elsif @character.charclass == "sorcerer"%>
<ul>
    <li>(a) Light Crossbow and 20 Bolts </li>
    <li style="list-style-type:none">Or (b) Any Simple Weapon</li>
    <li>(a) Component Pouch or (b) Arcane Focus</li>
    <li>(a) Dungeoneer's Pack or (b) Explorer's Pack</li>
    <li>Two Daggers</li>
</ul>

<%elsif @character.charclass == "warlock"%>
<ul>
    <li>(a) Light Crossbow and 20 Bolts </li>
    <li style="list-style-type:none">Or (b) Any Simple Weapon</li>
    <li>(a) Component Pouch or (b) Arcane Focus</li>
    <li>(a) Scholar's Pack or (b) Dungeoneer's Pack</li>
    <li>Leather Armor</li>
    <li>Any Simple Weapon</li>
    <li>Two Daggers</li>
</ul>

<%elsif @character.charclass == "wizard"%>
<ul>
    <li>(a) Quarter Staff or (b) A Dagger</li>
    <li>(a) Component Pouch or (b) Arcane Focus</li>
    <li>(a) Scholar's Pack or (b) Explorer's Pack</li>
    <li>Spellbook</li>
</ul>
<% else %>
<p>Class Not Found</p>
<% end %>
</p>

<p><span id="big">Proficiencies</span>
<%if @character.charclass == "barbarian"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
            <dd>Medium Armor</dd>
            <dd>Shields</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Martial Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Strength</dd>
            <dd>Constitution</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Animal Handling</dd>
            <dd>Athletics</dd>
            <dd>Intimidation</dd>
            <dd>Nature</dd>
            <dd>Perception</dd>
            <dd>Survival</dd>
    </dl>
    
<%elsif @character.charclass == "fighter"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>All Armor</dd>
            <dd>Shields</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Martial Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Strength</dd>
            <dd>Constitution</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Acrobatics</dd>
            <dd>Animal Handling</dd>
            <dd>Athletics</dd>
            <dd>History</dd>
            <dd>Insight</dd>
            <dd>Intimidation</dd>
            <dd>Perception</dd>
            <dd>Survival</dd>
    </dl>
    
<%elsif @character.charclass == "bard"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Hand Crossbows</dd>
            <dd>Longswords</dd>
            <dd>Rapier</dd>
            <dd>Shortsword</dd>
        <dt id="small">Tools:</dt>
            <dd>Three musical instruments (your choice)</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Dexterity</dd>
            <dd>Charisma</dd>
        <dt id="small">Skills:</dt>
            <dd>Choose any three</dd>
    </dl>
    
<%elsif @character.charclass == "cleric"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
            <dd>Medium Armor</dd>
            <dd>Shields</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Wisdom</dd>
            <dd>Charisma</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>History</dd>
            <dd>Insight</dd>
            <dd>Medicine</dd>
            <dd>Persuasion</dd>
            <dd>Religion</dd>
    </dl>
    
<%elsif @character.charclass == "druid"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
            <dd>Medium Armor</dd>
            <dd>Shields</dd>
            <dd>(No Metal!)</dd>
        <dt id="small">Weapons:</dt>
            <dd>Clubs</dd>
            <dd>Daggers</dd>
            <dd>Darts</dd>
            <dd>Javelins</dd>
            <dd>Maces</dd>
            <dd>Quarterstaffs</dd>
            <dd>Scimitars</dd>
            <dd>Sickles</dd>
            <dd>Slings</dd>
            <dd>Spears</dd>
        <dt id="small">Tools:</dt>
            <dd>Herbalism Kit</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Intelligence</dd>
            <dd>Wisdom</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Arcana</dd>
            <dd>Animal Handling</dd>
            <dd>Insight</dd>
            <dd>Medicine</dd>
            <dd>Nature</dd>
            <dd>Perception</dd>
            <dd>Religion</dd>
            <dd>Survival</dd>
    </dl>
    
<%elsif @character.charclass == "monk"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>None</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Shortsword</dd>
        <dt id="small">Tools:</dt>
            <dd>Choose one type of artisan's tools</dd>
            <dd>Or One musical instrument</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Strength</dd>
            <dd>Dexterity</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Acrobatics</dd>
            <dd>Athletics</dd>
            <dd>History</dd>
            <dd>Insight</dd>
            <dd>Religion</dd>
            <dd>Stealth</dd>
    </dl>
    
<%elsif @character.charclass == "paladin"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>All Armor</dd>
            <dd>Shields</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Martial Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Wisdom</dd>
            <dd>Charisma</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Athletics</dd>
            <dd>Insight</dd>
            <dd>Intimidation</dd>
            <dd>Medicine</dd>
            <dd>Persuasion</dd>
            <dd>Religion</dd>
    </dl>
    
<%elsif @character.charclass == "ranger"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
            <dd>Medium Armor</dd>
            <dd>Shields</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Martial Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Strength</dd>
            <dd>Dexterity</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose three of the Following:</u></dd>
            <dd>Animal Handling</dd>
            <dd>Athletics</dd>
            <dd>Insight</dd>
            <dd>Investigation</dd>
            <dd>Nature</dd>
            <dd>Perception</dd>
            <dd>Stealth</dd>
            <dd>Survival</dd>
    </dl>

<%elsif @character.charclass == "rogue"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
            <dd>Hand Crossbows</dd>
            <dd>Longswords</dd>
            <dd>Rapiers</dd>
            <dd>Shortswords</dd>
        <dt id="small">Tools:</dt>
            <dd>Thieves' Tools</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Dexterity</dd>
            <dd>Intelligence</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose four of the Following:</u></dd>
            <dd>Acrobatics</dd>
            <dd>Athletics</dd>
            <dd>Deception</dd>
            <dd>Insight</dd>
            <dd>Intimidation</dd>
            <dd>Investigation</dd>
            <dd>Perception</dd>
            <dd>Performance</dd>
            <dd>Persuasion</dd>
            <dd>Sleight of Hand</dd>
            <dd>Stealth</dd>
    </dl>

<%elsif @character.charclass == "sorcerer"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>None</dd>
        <dt id="small">Weapons:</dt>
            <dd>Daggers</dd>
            <dd>Darts</dd>
            <dd>Slings</dd>
            <dd>Quarterstaffs</dd>
            <dd>Light Crossbow</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Constitution</dd>
            <dd>Charisma</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Arcane</dd>
            <dd>Deception</dd>
            <dd>Insight</dd>
            <dd>Intimidation</dd>
            <dd>Persuasion</dd>
            <dd>Religion</dd>
    </dl>

<%elsif @character.charclass == "warlock"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>Light Armor</dd>
        <dt id="small">Weapons:</dt>
            <dd>Simple Weapons</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Wisdom</dd>
            <dd>Charisma</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Arcana</dd>
            <dd>Deception</dd>
            <dd>History</dd>
            <dd>Intimidation</dd>
            <dd>Investigation</dd>
            <dd>Nature</dd>
            <dd>Religion</dd>
    </dl>

<%elsif @character.charclass == "wizard"%>
    <dl>
        <dt id="small">Armor:</dt>
            <dd>None</dd>
        <dt id="small">Weapons:</dt>
            <dd>Daggers</dd>
            <dd>Darts</dd>
            <dd>Slings</dd>
            <dd>Quarterstaffs</dd>
            <dd>Light Crossbows</dd>
        <dt id="small">Tools:</dt>
            <dd>None</dd>
        <dt id="small">Saving Throws:</dt>
            <dd>Intelligence</dd>
            <dd>Wisdom</dd>
        <dt id="small">Skills:</dt>
            <dd><u>Choose two of the Following:</u></dd>
            <dd>Arcane</dd>
            <dd>History</dd>
            <dd>Insight</dd>
            <dd>Investigation</dd>
            <dd>Medicine</dd>
            <dd>Religion</dd>
    </dl>
    
<% else %>
<p>Class Not Found</p>
<% end %>
</p>
</div>
<p></p>
<div class="floatRight" style="max-width:25%;height:auto;">
<h2>Feats-</h2>
<% @character.feats.each do |feat|%>
    <p><span id="small">Name:</span>
    <%= feat.featname %>
    </p>
    <p><span id="small">Level Required:</span>
    <%= feat.level %>
    </p>
<% end %>
<div></div>

<h2>Add a Feat-</h2>
<%= form_for([@character, @character.feats.build]) do |f| %>
    <p id="small">
    <%= f.label :featname%>
    <%= f.text_field :featname%>
    </p>
    <p id="small">
    <%= f.label :level%>
    <%= f.text_field :level%>
    </p>
    <p>
    <%= f.submit%>
    </p>
<% end %>
</div>

<div class="floatRight" style="max-width:25%;height:auto;">
    <h2>Spells-</h2>
    <% @character.spells.each do |s| %>
    <p>
        <span id="small">Name:</span>
        <%= s.name %>
    </p>
    <p>
        <span id="small">Level:</span>
        <%= s.level %>
    </p>
    <p>
        <span id="small">Cast time:</span>
        <%= s.castingtime %>
    </p>
    <p>
        <span id="small">Range:</span>
        <%= s.range %>
    </p>
    <p>
        <span id="small">Components:</span>
        <%= s.components %>
    </p>
    <p>
        <span id="small">Duration:</span>
        <%= s.duration %>
    </p>
    <% end %>
    
    <h2>Add a spell-</h2>
    <%= form_for([@character, @character.spells.build]) do |s| %>
    <p id="small">
    <%= s.label :name%>
    <%= s.text_field :name%>
    </p>
    <p id="small">
    <%= s.label :level%>
    <%= s.text_field :level%>
    </p>
    <p id="small">
    <%= s.label :castingtime%>
    <%= s.text_field :castingtime%>
    </p>
    <p id="small">
    <%= s.label :range%>
    <%= s.text_field :range%>
    </p>
    <p id="small">
    <%= s.label :components%>
    <%= s.text_field :components%>
    </p>
    <p id="small">
    <%= s.label :duration%>
    <%= s.text_field :duration%>
    </p>
    <p>
    <%= s.submit%>
    </p>
    <% end %>
</div>
