<h1>View Character</h1>
<p><span class="label">Name:</span>
<%= @character.charname %>
</p>
<p><span class="label">Race:</span>
<%= @character.race %>
</p>
<p><span class="label">Level:</span>
<%= @character.level %>
</p>
<p><span class="label">Class:</span>
<%= @character.charclass %>
</p>
<p><span class="label">Strength:</span>
<%= @character.strength %>
</p>
<p><span class="label">Dexterity:</span>
<%= @character.dexterity %>
</p>
<p><span class="label">Constitution:</span>
<%= @character.constitution %>
</p>
<p><span class="label">Wisdom:</span>
<%= @character.wisdom %>
</p>
<p><span class="label">Intelligence:</span>
<%= @character.intelligence %>
</p>
<p><span class="label">Charisma:</span>
<%= @character.charisma %>
</p>
<p>
    <%= link_to 'Back', controller:'characters'%>
</p>